.git/
.pytest_cache/
.venv/
.vscode/
__pycache__/
reports/
screenshots/
test/__pycache__
pages/__pycache__
geckodriver.log
How_to_run.txt
run_in_chrome.ps1
run_in_firefox.ps1
run_parallel_in_firefox.ps1